:root {
    --header-footer: #a6eda6;

    --main-color-1: #e1f9e1;
    --main-color-2: #c4f3c4;

    --typo-tittle: #030f03;
    --typo-text: #10330d;

    // --header-footer: #021402;
    
    // --main-color-1: #052905;
    // --main-color-2: #031403;

    // --typo-tittle: #66b866;
    // --typo-text: #a4cca0;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    font-size: 16px;
    scroll-behavior: smooth;
}

body {
    background: var(--main-color-1);
}

header {
    box-shadow: 0px 6px 15px 0px rgba(0,0,0,0.2);
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 80px;
    background-color: var(--header-footer);

    div {
        display: flex;
        align-items: center;
        gap: 1.5rem;

        h1 {
            font-size: 24px;
            color: var(--typo-tittle);
        }
    }

    img {
        width: 50px;
        height: 50px;
        object-fit: cover;
        border-radius: 16px;
    }

    ul {
        display: flex;
        gap: 3rem;

        li {
            list-style-type: none;

            a {
                text-decoration: none;
                font-weight: bold;
                color: var(--typo-tittle);
                font-size: 24px;
            }
        }
    }
}

main {

    section {
        min-height: 30vh;
        background-color: var(--main-color-1);
        height: auto;

        h2 {
            width: 100%;
            background-color: var(--main-color-2);
            color: var(--typo-text);
            font-size: 40px;
            padding: 50px 0;
            text-align: center;
        }
    }

    .s1 {
        padding: 0 80px;
        background: linear-gradient(to right, rgba(118, 187, 96, 0.5) 35%, rgba(0, 0, 0, 0.8)), url("/img/clover.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        display: flex;
        align-items: center;
        justify-content: center;

        div {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 20rem;

            h4 {
                font-size: 48px;
                color: #030f03;
            }

            .card {
                display: flex;
                gap: 0;
                background-color: var(--main-color-2);
                border-radius: 15px;
                height: 400px;
                margin: 10vh 0;
                box-shadow: 0px 6px 15px 0px rgba(0,0,0,0.2);

                .photo {
                    width: 200px;
                    height: 100%;
                    border-radius: 15px 0 0 15px;
                    background-image: url('img/portrait.jpg');
                    background-repeat: no-repeat;
                    background-position: center;
                    background-size: cover;
                }

                .info {
                    display: block;
                    padding: 20px;

                    h3 {
                        font-size: 20px;
                        color: var(--typo-tittle);
                    }

                    .line {
                        width: 100%;
                        height: 2px;
                        margin: 30px 0;
                        background-color: var(--typo-tittle);
                    }

                    p {
                        color: var(--typo-text);
                        padding-bottom: 10px;
                    }
                }
            }
        }
    }

    .s2 {
        .skill {
            padding: 0 80px;

            h3 {
                font-size: 24px;
                color: var(--typo-tittle);
                border-bottom: 2px solid var(--typo-tittle);
                margin: 40px 0;
            }

            .grid-skill {
                display: grid;
                grid-template-columns: repeat(5, 1fr);
                gap: 30px;
                margin-bottom: 40px;

                div {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                }

                img {
                    height: 100px;
                }

                p {
                    color: var(--typo-text);
                    font-size: 20px;
                    font-weight: bold;
                    padding: 10px;
                }
            }
        }
    }

    .s3 {
        .grid {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
            gap: 30px;
            padding: 80px;

            
            .project {
                position: relative;
                aspect-ratio: 16/9;
                border-radius: 15px;
            }
            
            img {
                position: absolute;
                top: 0;
                left: 0;
                height: 100%;
                object-fit: cover;
                object-position: center;
            }

            .info-project {
                height: 100%;
                width: 100%;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                padding: 15px;
                position: relative;
                z-index: 2;
                transition: 0.2s ease-in;
                opacity: 0;
                background-color: var(--main-color-2);
                border: 3px solid var(--typo-tittle);

                h3 {
                    color: var(--typo-tittle);
                    font-size: 24px;
                }

                p {
                    color: var(--typo-text);
                }

                a {
                    color: var(--typo-tittle);
                }

                &:hover {
                    opacity: 0.8;
                }
            }

            .project-end {
                text-align: center;
                padding: 40px;

                p {
                    font-size: 24px;
                    color: var(--typo-tittle);
                }
            }
        }
    }
}

footer {
    background-color: var(--header-footer);
    display: flex;
    padding: 40px 80px;
    justify-content: space-between;
    align-items: center;
    font-size: 20px;
    color: var(--typo-tittle);
    font-weight: bold;

    a {
        padding-right: 20px;
        color: var(--typo-tittle);
        font-weight: bold;
    }
}