:root {
  --header-footer: #a6eda6;
  --main-color-1: #e1f9e1;
  --main-color-2: #c4f3c4;
  --typo-tittle: #030f03;
  --typo-text: #10330d;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  font-size: 16px;
  scroll-behavior: smooth;
}

body {
  background: var(--main-color-1);
}

header {
  box-shadow: 0px 6px 15px 0px rgba(0, 0, 0, 0.2);
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 80px;
  background-color: var(--header-footer);
}
nav div {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}
nav div h1 {
  font-size: 24px;
  color: var(--typo-tittle);
}
nav img {
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 16px;
}
nav ul {
  display: flex;
  gap: 3rem;
}
nav ul li {
  list-style-type: none;
}
nav ul li a {
  text-decoration: none;
  font-weight: bold;
  color: var(--typo-tittle);
  font-size: 24px;
}

main section {
  min-height: 30vh;
  background-color: var(--main-color-1);
  height: auto;
}
main section h2 {
  width: 100%;
  background-color: var(--main-color-2);
  color: var(--typo-text);
  font-size: 40px;
  padding: 50px 0;
  text-align: center;
}
main .s1 {
  padding: 0 80px;
  background: linear-gradient(to right, rgba(118, 187, 96, 0.5) 35%, rgba(0, 0, 0, 0.8)), url("/img/clover.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}
main .s1 div {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20rem;
}
main .s1 div h4 {
  font-size: 48px;
  color: #030f03;
}
main .s1 div .card {
  display: flex;
  gap: 0;
  background-color: var(--main-color-2);
  border-radius: 15px;
  height: 400px;
  margin: 10vh 0;
  box-shadow: 0px 6px 15px 0px rgba(0, 0, 0, 0.2);
}
main .s1 div .card .photo {
  width: 200px;
  height: 100%;
  border-radius: 15px 0 0 15px;
  background-image: url("img/portrait.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
main .s1 div .card .info {
  display: block;
  padding: 20px;
}
main .s1 div .card .info h3 {
  font-size: 20px;
  color: var(--typo-tittle);
}
main .s1 div .card .info .line {
  width: 100%;
  height: 2px;
  margin: 30px 0;
  background-color: var(--typo-tittle);
}
main .s1 div .card .info p {
  color: var(--typo-text);
  padding-bottom: 10px;
}
main .s2 .skill {
  padding: 0 80px;
}
main .s2 .skill h3 {
  font-size: 24px;
  color: var(--typo-tittle);
  border-bottom: 2px solid var(--typo-tittle);
  margin: 40px 0;
}
main .s2 .skill .grid-skill {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 30px;
  margin-bottom: 40px;
}
main .s2 .skill .grid-skill div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
main .s2 .skill .grid-skill img {
  height: 100px;
}
main .s2 .skill .grid-skill p {
  color: var(--typo-text);
  font-size: 20px;
  font-weight: bold;
  padding: 10px;
}
main .s3 .grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  gap: 30px;
  padding: 80px;
}
main .s3 .grid .project {
  position: relative;
  aspect-ratio: 16/9;
  border-radius: 15px;
}
main .s3 .grid img {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
main .s3 .grid .info-project {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 15px;
  position: relative;
  z-index: 2;
  transition: 0.2s ease-in;
  opacity: 0;
  background-color: var(--main-color-2);
  border: 3px solid var(--typo-tittle);
}
main .s3 .grid .info-project h3 {
  color: var(--typo-tittle);
  font-size: 24px;
}
main .s3 .grid .info-project p {
  color: var(--typo-text);
}
main .s3 .grid .info-project a {
  color: var(--typo-tittle);
}
main .s3 .grid .info-project:hover {
  opacity: 0.8;
}
main .s3 .grid .project-end {
  text-align: center;
  padding: 40px;
}
main .s3 .grid .project-end p {
  font-size: 24px;
  color: var(--typo-tittle);
}

footer {
  background-color: var(--header-footer);
  display: flex;
  padding: 40px 80px;
  justify-content: space-between;
  align-items: center;
  font-size: 20px;
  color: var(--typo-tittle);
  font-weight: bold;
}
footer a {
  padding-right: 20px;
  color: var(--typo-tittle);
  font-weight: bold;
}

/*# sourceMappingURL=style.css.map */
